.login-logo img{
    width: 40%;
}

.login-left-sidebar{
    background-color: #A4E2D5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 40px 40px;
}