.booking-form-h2 {
    font-weight: 600;
    font-size: 1.4rem;
    padding-bottom: 20px;
}

.booking-form-instructions li {
    padding-bottom: 10px;
}


/* Common CSS classes */


#map {
    height: 50vh;
}

.pac-container {
    box-shadow: 0px 1px 1px #b7d3d3;
}

.back-button-div {
    width: fit-content;
    border-radius: 50%;
    padding: 5px;
    background-color: #F0FBF9;
    cursor: pointer;
    margin-left: -15px;
}

.booking-form-container {
    background-color: white;
    padding: 40px 50px;
    box-shadow: 2px 4px 10px 2px #b7d3d3;
}

.booking-current-location-btn {
    background-color: #58BBA6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.booking-current-location-btn svg {
    fill: white;
    margin-right: 7px;
}

.booking-current-location-div {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.form-label-bold {
    font-weight: 600;
    padding: 0px 0px 15px 0px;
}

.form-section-row {
    margin: 60px 0px;
}

.booking-summary-card {
    height: fit-content;
    background-color: white;
    padding: 20px 20px;
    box-shadow: 2px 4px 10px 2px #b7d3d3;
    position: sticky;
    top: 10%;
    width: 80%;
}

.booking-h4 {
    font-weight: 600;
    font-size: 1.3rem;
    padding: 10px 0px;
    margin: 0;
}

.booking-hr {
    margin: 15px 0px;
}

#booking-summary-active {
    display: none;
}

.booking-form-btn {
    width: 200px;
    background-color: #58BBA6;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
}

.booking-form-secondnary-btn {
    width: fit-content;
    background-color: #58BBA6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}


.booking-form-btn:hover, .booking-form-secondnary-btn:hover {
    background-color: #515559;
}


/* Frequency Radio Button */

.booking-freq-radio-buttons {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.booking-freq-custom-radio input {
    display: none;
}

.booking-freq-custom-radio {
    width: 30%;
}

.booking-freq-radio-btn {
    width: 100%;
    height: 280px;
    border: 1px solid #58BBA6;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.booking-freq-radio-btn>i {
    color: #ffffff;
    background-color: #58BBA6;
    font-size: 15px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(2);
    border-radius: 100%;
    padding: 5px;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
    width: 30px;
    height: 30px;
}

.booking-freq-radio-btn .booking-freq-inner-card {
    padding: 20px 25px;
}

.booking-freq-radio-btn .booking-freq-inner-card i {
    color: #58BBA6;
    line-height: 80px;
    font-size: 60px;
}

.booking-h3 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 15px;
    margin: 0;
}

.booking-freq-price {
    margin-top: 15px;
}

.booking-freq-price span {
    font-size: 1.5rem;
    font-weight: 500;
}

.booking-freq-price-discount {
    font-size: 0.8rem;
}

.booking-freq-list {
    text-align: left;
    font-size: 0.9rem;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.booking-freq-list>div {
    flex-basis: 25px;
}

.booking-freq-btn {
    border: 1px solid #58BBA6;
    color: #58BBA6;
    border-radius: 5px;
    padding: 5px 0;
}

.booking-freq-custom-radio input:checked+.booking-freq-radio-btn {
    border: 2px solid #58BBA6;
    background-color: #F0FBF9;
}

.booking-freq-custom-radio input:checked+.booking-freq-radio-btn>i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}


/* No of Hours */

.booking-no-of-hours-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.booking-no-of-hours-radio {
    cursor: pointer;
    display: flex;
    margin-bottom: 15px;
}

.booking-no-of-hours-btn {
    border: 1px solid #58BBA6;
    padding: 10px 25px;
    border-radius: 5px;
    text-align: center;
}

.booking-no-of-hours-radio input {
    display: none;
}

.booking-no-of-hours-radio input:checked+.booking-no-of-hours-btn {
    border: 2px solid #58BBA6;
    background-color: #F0FBF9;
}


/* Stepper */

.stepper-div-container {
    display: flex;
    height: 5px;
    justify-content: space-between;
    padding: 0;
}

.stepper-div {
    border: 1px solid #58BBA6;
    width: 33%;
}

.stepper-name-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    font-size: 0.8rem;
    font-weight: 200;
}

.stepper-name {
    width: 33%;
}

.stepper-fill {
    height: 100%;
    /* width: 0%; */
    background-color: #58BBA6;
    animation: colorChange 300ms linear forwards;
}



@keyframes colorChange {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
        background-color: #58BBA6;
    }
}



@media screen and (min-width: 769px) and (max-width: 991px) {
    .booking-summary-card {
        height: 100vh;
        background-color: white;
        padding: 15px 20px 100% 20px;
        box-shadow: 2px 4px 10px 2px #b7d3d3;
        width: 100%;
        position: fixed;
        top: 94%;
        z-index: 10;

        transition: 0.5s ease-in-out;
    }

    #booking-summary-active:checked~.booking-summary-card {
        top: 0%;
    }

    #booking-summary-active:checked~.booking-down-arrow {
        transform: rotate(45deg);
    }
}


@media screen and (max-width: 768px) {
    .booking-form-container {
        padding: 40px 20px;
    }

    .booking-freq-radio-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .booking-freq-custom-radio {
        width: 60%;
        margin-bottom: 20px;
    }

    .booking-summary-card {
        height: 100vh;
        background-color: white;
        padding: 15px 20px 100% 20px;
        box-shadow: 2px 4px 10px 2px #b7d3d3;
        width: 100%;
        position: fixed;
        top: 90%;
        z-index: 10;

        transition: 0.5s ease-in-out;
    }

    #booking-summary-active:checked~.booking-summary-card {
        top: 0%;
    }

    #booking-summary-active:checked~.booking-summary-card>div>label {
        transform: rotate(180deg);
    }

    .booking-form-btn {
        padding: 7px 0;
    }

    .booking-h4 {
        font-weight: 600;
        font-size: 1.1rem;
    }

}