:root {
    --color-1: #F9FFFF;
    --text-color: black;
    --accent-color: #58BBA6;
}


.navbar-links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

nav {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    background-color: #A4E2D5;
    position: sticky;
    top: 0%;
    z-index: 10;
    /* box-shadow: 0px 1px 20px -11px black; */
    border-bottom: 1px solid white;
}


nav div {
    height: 100%;
}

.navbar-home-link {
    margin-right: auto;
    height: 100%;
}

.navbar-home-link img {
    width: 200px;
    padding: 15px;
}

nav svg {
    fill: var(--text-color);
}

#navbar-sidebar-active {
    display: none;
}

.navbar-open-sidebar-button,
.navbar-close-sidebar-button {
    display: none;
}

.navbar-link {
    padding: 0 40px;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
}

.navbar-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
}

.navbar-ul li {
    position: relative;
    text-wrap: nowrap;
}

.navbar-dropdown-1:hover .navbar-dropdown {
    display: block;
    position: absolute;
    right: 10%;
    /* margin-top: 15px; */
    padding: 15px 20px;
    height: fit-content;
    text-wrap: nowrap;
    background-color: #A4E2D5;
    margin-right: auto;
}

.navbar-dropdown{
    display: none;
}


.navbar-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-dropdown li {
    list-style-type: none;
    padding: 8px 0px;
}


@media screen and (min-width: 769px) and (max-width: 991px) {
    nav {
        padding: 10px 30px;
    }

    .navbar-link {
        padding: 0 20px;
    }

}

@media screen and (max-width: 768px) {
    .navbar-links-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -3px 0px 10px #b7d3d3;
        transition: 0.5s ease-out;
    }

    .navbar-ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar-dropdown-1:hover .navbar-dropdown {
        margin-top: 0px;
        right: 0%;
        background-color: var(--color-1);
    }

    .navbar-ul li {
        padding: 10px 0px;
    }

    .navbar-links-container div {
        flex-basis: 60px;
    }


    nav {
        padding: 0px 10px;
        justify-content: space-between;
    }


    .navbar-open-sidebar-button,
    .navbar-close-sidebar-button {
        padding: 20px;
        display: block;

    }

    #navbar-sidebar-active:checked~.navbar-links-container {
        right: 0;
    }

    #navbar-sidebar-active:checked~#navbar-overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

}