.calendar-wrapper {
    /* width: 450px; */
    background: #fff;
    border-radius: 10px;
    /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12); */
    border: 2px solid #58BBA6;
    overflow: hidden;
}

.calendar-wrapper .calendar-header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    background-color: #58BBA6;
}

.calendar-header .icons {
    display: flex;
}

.calendar-header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: black;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child {
    margin-right: -10px;
}

.calendar-header .icons span:hover {
    background: #f2f2f2;
}

.calendar-header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar-section {
    padding: 20px;
}

.calendar-section ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0;
}

.calendar-section .days {
    margin-bottom: 20px;
}

.calendar-section li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar-section .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar-section .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #58BBA6;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}