.customer-review-h2{
    text-align: center;
    padding-bottom: 30px;
    font-size: 3rem;
    font-weight: 600;
}

.customer-review-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.customer-review-card{
    background-color: #ffffff;
    padding: 20px;
    width: 90% !important;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #b7d3d3;
    margin: 20px;
}

.customer-review-h3{
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 600;
}

.customer-review-rating-container{
    padding-bottom: 20px;
}

.customer-review-star-ratings{
    color: orange;
}