.social-media-icons-container{
    background-color: #25D366;
    position: fixed;
    right: 2%;
    bottom: 10%;
    padding: 5px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    cursor: pointer;
    z-index: 100;
}

.social-media-icons-container img{
    width: 35px;
    height: 35px;
}